.logout-admin {
  border: none;
  outline: none;
  color: var(--red-color);
  background-color: transparent;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--red-color) !important;
  color: white;
  cursor: pointer;
}
