.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
   
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
  }
  
  .logo span {
    font-weight: bold;
    color: black;
  }
  
  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links a {
    color: gray;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: black;
  }
  .nav-links a.active {
   color: black;

 }
 