<div class="review-card">
  <div class="header d-flex">
    <div class="img-container">
      <img src="" alt="" />
    </div>
    <div class="ps-3">
      <h6>Mark</h6>
      <i class="fa-solid fa-star"></i>
    </div>
  </div>

  <div class="body">
    <p class="m-0">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sint culpa
      consequatur ab sunt dolor? Aperiam est id odit, consequuntur commodi
      corporis amet nostrum alias minus ipsa culpa nesciunt neque.
    </p>
  </div>
</div>
