<section
  class="mt-3 container d-flex flex-column align-items-center justify-content-center mt-5"
>
  <div class="d-flex align-items-center justify-content-center">
    <h2 class="text-secondary fs-md-2 fw-bold text-center">
      Trusted by more than 50+ brands
    </h2>
  </div>
  <div class="row d-flex align-items-center">
    <img
      class="mt-md-3 mt-sm-3 mt-lg-5 col-3"
      src="assets/imgs/Nissan_2020_logo.png"
      alt=""
    />
    <img
      class="mt-md-3 mt-sm-3 mt-lg-5 col-3"
      src="assets/imgs/BMW.png"
      alt=""
    />
    <img
      class="mt-md-3 mt-sm-3 mt-lg-5 col-3"
      src="assets/imgs/Ford_logo_flat.png"
      alt=""
    />
    <img
      class="mt-md-3 mt-sm-3 mt-lg-5 col-3"
      src="assets/imgs/Chevrolet 1.png"
      alt=""
    />
  </div>
</section>
<section class="mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        class="img-fluid d-none d-md-flex d-lg-flex"
        src="assets/imgs/car-2.png"
        alt=""
      />
    </div>

    <div class="col-md-6 col-sm-12 container mt-5 p-3">
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="fw-bold text-sm-center text-md-start heead">
          Rent a car now <span class="text-red">in your hand.</span> Try it now!
        </h2>
      </div>
      <div class="row my-3 mb-3 mt-5">
        <div class="col-lg d-flex align-items-center">
          <div
            class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red"
          >
            <img class="p-3" src="assets/imgs/Vector.svg" alt="" />
          </div>

          <div class="col-lg-10">
            <h4 class="fw-bold">A lot of price range</h4>
            <p class="text-secondary">
              Don’t need to worry choosing car that match your budget, we serve
              cars with a lot of price variant
            </p>
          </div>
        </div>
      </div>
      <div class="row my-3 mb-3 mt-5">
        <div class="col-lg d-flex align-items-center">
          <div
            class="icon-container shadow rounded-circle d-flex align-items-center bg-red justify-content-center me-3 bg-red-color"
          >
            <img class="p-3" src="assets/imgs/ph_car-fill.png" alt="" />
          </div>

          <div class="col-lg-10">
            <h4 class="fw-bold">Wide Selection of Vehicles</h4>
            <p class="text-secondary">
              From compact cars to spacious SUVs, we offer a diverse fleet of
              well-maintained vehicles to suit every travel need and budget.
            </p>
          </div>
        </div>
      </div>
      <div class="row my-3 mb-3 mt-5">
        <div class="col-lg d-flex align-items-center">
          <div
            class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red"
          >
            <img class="p-3" src="assets/imgs/phonene.png" alt="" />
          </div>

          <div class="col-lg-10">
            <h4 class="fw-bold">Easy Booking Process</h4>
            <p>
              Our user-friendly website makes it effortless to search, compare,
              and book your rental car in just a few clicks
            </p>
          </div>
        </div>
      </div>
      <div class="row my-3 mb-3 mt-5">
        <div class="col-lg d-flex align-items-center">
          <div
            class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red"
          >
            <img class="p-3" src="assets/imgs/clean-svg.png" alt="" />
          </div>

          <div class="col-lg-10">
            <h4 class="fw-bold">Safety and Cleanliness</h4>
            <p class="text-secondary">
              "Your safety is paramount. Our vehicles undergo rigorous cleaning
              protocols, ensuring they're sanitized and ready for your journey."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container mt-5">
  <div class="d-flex align-items-center mb-5 justify-content-center">
    <h2 class="text-dark fw-bold">MOST <span class="text-red">POPULAR</span>  CARS</h2>
  </div>
  <div class="row">
  <div class="col-md-4 col-sm-12 mt-2"><app-card></app-card>
  </div>
  <div class="col-md-4 col-sm-12 mt-2"><app-card></app-card>
  </div>
  <div class="col-md-4 col-sm-12 mt-2"><app-card></app-card>
  </div>

  </div>

  <div class="d-flex align-items-center justify-content-center mt-4 mb-5">
    <button type="button" class="btn btn-red px-5">See More</button>
  </div>

 </section>
 -->
