<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<footer class="text-center text-lg-start bg-pink text-muted">
  <section class="py-3">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <a class="navbar-brand" href="#"
              ><img src="./assets/imgs/logo.png" alt=""
            /></a>
          </h6>
          <p>Get a car whatever and whenever you need it !</p>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f text-red fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-x-twitter text-red fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram text-red fa-lg"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin text-red fa-lg"></i>
            </a>
          </div>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase text-red fw-bold mb-3">Rental</h6>
          <p>
            <a href="#!" class="text-reset">Economy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Business</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Luxury</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase text-red fw-bold mb-3">Cars Model</h6>
          <p>
            <a href="#!" class="text-reset">BMW</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nissan</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mercades</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Toyota</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase text-red fw-bold mb-3">COMPANY</h6>
          <p>
            <a href="#!" class="text-reset">About</a>
          </p>
          <p>
            <a href="#!" class="text-reset">How it work</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase text-red fw-bold mb-3">Legal</h6>
          <p>
            <a href="#!" class="text-reset">Claims</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Privacy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terms</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <div class="text-center px-4 py-3 bg-pink">Copyright © 2024 Rentastic</div>
</footer>
