.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
    display: none !important;
}
.mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}
/* .contee{
    width: 100% !important;
}

.filt{
    width: 100% !important;
}
form{

    width: 100%;
} */