<div class="shadow conti bg-white container rounded-3 d-flex justify-content-between align-items-center p-4 mt-3">
  <form [formGroup]="form">
  <div class="row align-items-center justify-content-between filt">
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-car m-2"></i>
        <div class="btn-group">
          <button  class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Car Brand
          </button>
          <ul  formControlName="cartype" class="dropdown-menu">
            <li>BMW</li>
            <li>BMW</li>
            <li>BMW</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center alo">
        <i class="fa-solid fa-calendar-days m-2"></i>
        <mat-form-field class="example-full-width">
          <mat-label>Pick-up date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="pickupDatepicker">
          <mat-datepicker-toggle matIconSuffix [for]="pickupDatepicker">
            <mat-icon matDatepickerToggleIcon><img src="../../../assets/imgs/arrow.png" alt=""></mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #pickupDatepicker color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-calendar-days m-2"></i>
        <mat-form-field class="example-full-width">
          <mat-label>Return date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="returnDatepicker">
          <mat-datepicker-toggle matIconSuffix [for]="returnDatepicker">
            <mat-icon matDatepickerToggleIcon><img src="../../../assets/imgs/arrow.png" alt=""></mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #returnDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
        <div class="col-lg-3 d-flex  align-items-center justify-content-center">
      <button type="submit" (click)="GetData()" class="btn btn-block btn-danger text-white py-2 px-5">Search</button>
    </div>
  </div>

</form>
</div>
