<div class="row">
  <div class="col-6 d-none d-md-block img-container">
    <img class="" src="assets/imgs/login.png" alt="" />

    <!-------------------------- Overlay Content -------------------------->
    <div
      class="overlay-content d-flex flex-column justify-content-evenly align-items-center"
    >
      <div
        class="logo d-flex flex-column justify-content-center align-items-center"
      >
        <div class="w-50">
          <img
            class="img-fluid"
            src="../../../../assets/imgs/white-logo.png"
            alt=""
          />
        </div>
        <h3 class="mt-3">RENTASTIC</h3>
      </div>
      <div class="overlay-content-down">
        <p class="text-center text-white header px-5">
          Unlock Your Journey with Rentastic
        </p>
        <p class="text-center content px-5">
          we're dedicated to delivering exceptional journeys that elevate your
          experience every time you get behind the wheel.
        </p>

        <div class="social d-flex justify-content-center align-items-center">
          <div class="circle me-2">
            <i class="fa-brands fa-facebook-f fs-5"></i>
          </div>
          <div class="circle me-2">
            <i class="fa-brands fa-instagram fs-5"></i>
          </div>
          <div class="circle"><i class="fa-brands fa-twitter fs-5"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="login-container col-12 col-md-6 d-flex flex-column">
    <h1>Nice to see you again</h1>
    <p>Select a method to login</p>

    <button class="btn-google">
      <i class="fab fa-google mr-2"></i> sign in with Google
    </button>

    <div class="separator">
      <hr class="line" />
      <span>Or continue with Email</span>
      <hr class="line" />
    </div>

    <!-------------------------- Form -------------------------->
    <!-- Error Box -->
    <ng-container *ngIf="errors !== ''">
      <div class="alert alert-danger d-flex flex-column justify-content-start">
        <h6 class="mb-0" style="font-size: 12px">Invalid Email or Password</h6>
      </div>
    </ng-container>

    <form [formGroup]="loginForm" class="d-flex flex-column">
      <div class="mb-3 d-flex flex-column">
        <label class="form-label">Email</label>
        <input
          class="form-input"
          type="text"
          placeholder="Enter Your Email"
          formControlName="email"
        />

        <!-- Validations Labels -->
        <ng-container *ngIf="loginForm.controls.email.touched">
          <label
            class="text-danger mt-1"
            style="font-size: 10px"
            *ngIf="loginForm.controls.email.errors?.['required']"
            >required</label
          >

          <label
            class="text-danger mt-1"
            style="font-size: 10px"
            *ngIf="loginForm.controls.email.errors?.['email']"
            >Enter a Valid Email</label
          >
        </ng-container>
      </div>

      <div class="mb-3 d-flex flex-column">
        <label class="form-label">Password</label>
        <input
          class="form-input"
          type="password"
          placeholder="Enter Your Password"
          formControlName="password"
        />

        <!-- Validations Labels -->
        <ng-container *ngIf="loginForm.controls.password.touched">
          <label
            class="text-danger mt-1"
            style="font-size: 10px"
            *ngIf="loginForm.controls.password.errors?.['required']"
            >required</label
          >
        </ng-container>
      </div>

      <div class="checkbox mb-3">
        <input type="checkbox" />
        <span class="ms-1">Remember me ?</span>
      </div>

      <button type="submit" class="btn-auth" (click)="onLogin()">
        Sign in
      </button>
    </form>

    <p class="mt-5 ask">
      You don’t have an account ? <a [routerLink]="'/auth/register'">Sign Up</a>
    </p>
  </div>
</div>
