<app-header
  img="assets/imgs/howItWork.png"
  beforeSpan="How"
  contentSpan="It"
  afterSpan="Work"
  contentBody="The full tutorial to reserve a car from our website, from the search to receiving the car"
></app-header>
<div class="container mt-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center  ">
      <div class="">
        <img src="../../../../../assets/imgs/how.png" alt="" class="img-fluid">
      </div>
    </div>

  </div>
<div class="row">
  <div class="col-12 mt-5">

    <div>
      <h3>Exploring Vehicle Options
      </h3>  
      <p>Visit the Rentastic website and explore our diverse selection of vehicles.
        Use our intuitive search filters to narrow down options based on your preferences, such as vehicle type, model, size, and features.</p>
    </div>
    <div>
      <h3>Choosing Rental Details


      </h3>  
      <p>Select your desired rental dates and specify pick-up and drop-off locations.
        View available cars with comprehensive descriptions, high-quality photos, and transparent pricing.</p>
    </div>
    <div>
      <h3>Making a Booking


      </h3>  
      <p>Choose your preferred vehicle and click on "Rent Now" to initiate the booking process.
        Enter your personal information, including name, contact details, and payment information, to confirm your reservation securely.</p>
    </div>
    <div>
      <h3>Reviewing Rental Summary
      </h3>  
      <p>Review the rental summary, including total cost, rental duration, and terms and conditions, before finalizing your booking.</p>
    </div>
    <div>
      <h3>Completing Payment
      </h3>  
      <p>Proceed to make payment using our secure payment gateway to secure your reservation.
      </p>
    </div>
    <div>
      <h3>Pick-Up Process
      </h3>  
      <p>On the scheduled day, visit the designated Rentastic showroom or rental location.
        Present your identification and booking confirmation to our welcoming staff.</p>
    </div>
    <div>
      <h3>Enjoying Your Rental


      </h3>  
      <p>Begin your rental period with the Rentastic car, equipped with modern features and maintained to high standards.
      </p>
    </div>
    <div>
      <h3>Feedback and Reviews






      </h3>  
      <p>Share your rental experience by providing feedback and reviewing Rentastic on our website.
        Receive a thank-you email and an invitation to share your experience on our social media platforms.
        
        
      </p>
    </div>

<p></p>
</div>
</div>
</div>