<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <h3 class="headform">Add Car</h3>

  <label>Name <span class="required-indicator"></span></label>
  <input type="text" formControlName="Name" />
  <div
    *ngIf="
      carForm.get('Name')!.invalid &&
      (carForm.get('Name')!.dirty || carForm.get('Name')!.touched)
    "
  >
    <p class="error-message" *ngIf="carForm.get('Name')!.errors?.['required']">
      Name is required
    </p>
  </div>
  <br />

  <label>Brand <span class="required-indicator"></span></label>
  <input type="text" formControlName="Brand" />
  <div
    *ngIf="
      carForm.get('Brand')!.invalid &&
      (carForm.get('Brand')!.dirty || carForm.get('Brand')!.touched)
    "
  >
    <p class="error-message" *ngIf="carForm.get('Brand')!.errors?.['required']">
      Brand is required
    </p>
  </div>
  <br />

  <label>Model Year <span class="required-indicator"></span></label>
  <input type="text" formControlName="ModelYear" />
  <div
    *ngIf="
      carForm.get('ModelYear')!.invalid &&
      (carForm.get('ModelYear')!.dirty || carForm.get('ModelYear')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('ModelYear')!.errors?.['required']"
    >
      Model Year is required
    </p>
    <p
      class="error-message"
      *ngIf="carForm.get('ModelYear')!.errors?.['pattern']"
    >
      Model Year must be between 1900 - 2025
    </p>
  </div>
  <br />

  <label>Color <span class="required-indicator"></span></label>
  <input type="text" formControlName="Color" />
  <div
    *ngIf="
      carForm.get('Color')!.invalid &&
      (carForm.get('Color')!.dirty || carForm.get('Color')!.touched)
    "
  >
    <p class="error-message" *ngIf="carForm.get('Color')!.errors?.['required']">
      Color is required
    </p>
  </div>
  <br />

  <label>Category <span class="required-indicator"></span></label>
  <select formControlName="Category">
    <option value="">Select Category</option>
    <option value="Economy">Economy</option>
    <option value="Compact">Compact</option>
    <option value="Standard">Standard</option>
    <option value="Midsize">Midsize</option>
    <option value="Fullsize">Fullsize</option>
    <option value="premime">premime</option>
    <option value="SUV">SUV</option>
    <option value="Van">Van</option>
    <option value="Truck">Truck</option>
  </select>
  <div
    *ngIf="
      carForm.get('Category')!.invalid &&
      (carForm.get('Category')!.dirty || carForm.get('Category')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('Category')!.errors?.['required']"
    >
      Category is required
    </p>
  </div>
  <br />

  <label>Description <span class="required-indicator"></span></label>
  <textarea formControlName="Description"></textarea>
  <div
    *ngIf="
      carForm.get('Description')!.invalid &&
      (carForm.get('Description')!.dirty || carForm.get('Description')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('Description')!.errors?.['required']"
    >
      Description is required
    </p>
    <p
      class="error-message"
      *ngIf="carForm.get('Description')!.errors?.['minlength']"
    >
      Description must be at least 10 characters
    </p>
    <p
      class="error-message"
      *ngIf="carForm.get('Description')!.errors?.['maxlength']"
    >
      Description must not exceed 500 characters
    </p>
  </div>
  <br />

  <label>Seat Number <span class="required-indicator"></span></label>
  <input type="number" formControlName="SeatCount" />
  <div
    *ngIf="
      carForm.get('SeatCount')!.invalid &&
      (carForm.get('SeatCount')!.dirty || carForm.get('SeatCount')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('SeatCount')!.errors?.['required']"
    >
      Seat Number is required
    </p>
    <p
      class="error-message"
      *ngIf="carForm.get('SeatCount')!.errors?.['pattern']"
    >
      Seat Number must be 2, 4, or 6
    </p>
  </div>
  <br />

  <label>Price <span class="required-indicator"></span></label>
  <input type="number" formControlName="PricePerDay" />
  <div
    *ngIf="
      carForm.get('PricePerDay')!.invalid &&
      (carForm.get('PricePerDay')!.dirty || carForm.get('PricePerDay')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('PricePerDay')!.errors?.['required']"
    >
      Price is required
    </p>
    <p
      class="error-message"
      *ngIf="carForm.get('PricePerDay')!.errors?.['min']"
    >
      Price Per Day must be greater than 0
    </p>
  </div>
  <br />

  <label for="hasAirCondition">Air Condition:</label>
  <select id="hasAirCondition" formControlName="HasAirCondition">
    <option [ngValue]="true">Yes</option>
    <option [ngValue]="false">No</option>
  </select>
  <div
    *ngIf="
      carForm.get('HasAirCondition')!.invalid &&
      (carForm.get('HasAirCondition')!.dirty ||
        carForm.get('HasAirCondition')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('HasAirCondition')!.errors?.['required']"
    >
      Air Condition is required
    </p>
  </div>
  <br />

  <label>Is Automatic:</label>
  <select id="isAutomatic" formControlName="IsAutomatic">
    <option [ngValue]="true">Yes</option>
    <option [ngValue]="false">No</option>
  </select>
  <div
    *ngIf="
      carForm.get('IsAutomatic')!.invalid &&
      (carForm.get('IsAutomatic')!.dirty || carForm.get('IsAutomatic')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('IsAutomatic')!.errors?.['required']"
    >
      Is Automatic is required
    </p>
  </div>
  <br />

  <label>Image URL <span class="required-indicator"></span></label>
  <input
    type="file"
    accept="image/*"
    formControlName="Images"
    (change)="onChangeImg($event)"
  />
  <div
    *ngIf="
      carForm.get('Images')!.invalid &&
      (carForm.get('Images')!.dirty || carForm.get('Images')!.touched)
    "
  >
    <p
      class="error-message"
      *ngIf="carForm.get('Images')!.errors?.['required']"
    >
      Image URL is required
    </p>
  </div>
  <br />

  <div *ngIf="errorMessages">
    <p *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</p>
  </div>

  <button type="submit">Add</button>
</form>
