<app-header
  img="assets/imgs/howItWork.png"
  beforeSpan="About"
  contentSpan="Us"
  afterSpan=""
  contentBody="About Us the team and our company "
></app-header>

<div class="container">
  <div class="row">
    <div class="m-0 col-lg-6 col-12">
      <img
        class="img-fluid w-100"
        src="../../../../../assets/imgs/aboutCar_1.png"
        alt=""
      />
    </div>
    <div
      class="col-lg-6 col-12 d-flex align-items-center justify-content-center flex-column"
    >
      <h3 class="fw-bold mb-2" style="line-height: 32px">
        We Deliver a Great <span class="text-red">experience</span> for Our
        great customers
      </h3>
      <p style="line-height: 32px">
        At Rentastic, we understand the importance of convenience and quality.
        Our user-friendly website allows you to effortlessly browse through a
        wide selection of vehicles, including compact cars, spacious SUVs, and
        sleek sedans. With just a few clicks, you can reserve the perfect
        vehicle for your needs, all at competitive rates.
      </p>
    </div>
  </div>
</div>
<div class="row h-75">
  <div class="m-0 col-lg-6 col-12 p-0">
    <img
      class="img-fluid w-100"
      src="../../../../../assets/imgs/aboutUs_2.png"
      alt=""
    />
  </div>
  <div class="col-lg-6 col-12 d-flex bg-red justify-content-center flex-column">
    <h3 class="fw-bold mb-2 m text-white" style="line-height: 32px">
      Our Showroom
    </h3>
    <p class="text-white fw-light" style="font-weight: 300 !important">
      Visit us on our showroom to see the car and pick up your car that you are
      choose and pay for it in our website
    </p>
    <p class="text-white fw-lighter">
      Visit us in our showroom at Downtown Luran , Alexandria
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div
      class="col-lg-6 col-12 d-flex align-items-start justify-content-center flex-column"
    >
      <h3 class="fw-bold mb-2" style="line-height: 32px">
        Benefits of <span class="text-red"> Choosing </span>our Website
      </h3>
      <p style="line-height: 32px">
        What sets Rentastic apart is our commitment to customer satisfaction. We
        prioritize safety and comfort by offering well-maintained vehicles
        equipped with modern features. Our dedicated customer support team is
        available to assist you every step of the way, ensuring a seamless
        rental experience from reservation to drop-off.
      </p>
    </div>
    <div class="m-0 col-lg-6 col-12">
      <img
        class="img-fluid w-100"
        src="../../../../../assets/imgs/aboutCar-3.png"
        alt=""
      />
    </div>
  </div>
</div>
