 <div class="shadow bg-white container rounded-3 d-flex justify-content-around align-items-center p-4 mt-3">
      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-car m-2"></i>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Car Type
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">BMW</button></li>
                <li><button class="dropdown-item" type="button">Dodge</button></li>
                <li><button class="dropdown-item" type="button">Mercedes</button></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-calendar-days m-2"></i>
            <label class="w-100 " for="startDate">Pickup Date</label>
            <input id="startDate" class="form-control w-100" type="date" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-calendar-days m-2"></i>
            <label class="w-100 " for="returnDate">Return Date</label>
            <input id="returnDate" class="form-control" type="date" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <button type="button" class="btn btn-block bg-red-color text-white py-2 px-5">Search</button>
        </div>
      </div>
    </div>
    