<div class="container mt-5">
  <div class="row">
    <!-- IMG -->

    <div class="col-12 col-lg-6 img-container">
      <img class="img-fluid w-100 h-100" [src]="car.Images" alt="" />
    </div>
    <!-- Details -->
    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
      <h2 class="fw-bold">
        {{ car.Brand }} {{ car.Name }} {{ car.ModelYear }}
      </h2>
      <p>
        <span class="text-red fw-bold" style="font-size: 24px"
          >{{ car.PricePerDay }}
        </span>
        <span style="font-size: 12px"> EGP</span>/ Day
      </p>

      <div>
        <p class="mb-2"><strong>Description </strong></p>
        <p class="">{{ car.Description }}</p>
      </div>

      <div>
        <p class="mb-2"><strong>Category </strong></p>
        <p class="">{{ car.Category }}</p>
      </div>
      <!-- Icons -->
      <div class="d-flex flex-row">
        <div class="">
          <img src="assets/imgs/colorlogo.png" alt="color logo" />
          <span class="mx-2">{{ car.Color }}</span>
        </div>
        <div class="mx-5">
          <img src="assets/imgs/seatlogo.png" alt="seat logo" />
          <span class="mx-2">{{ car.SeatCount }} seats </span>
        </div>
        <ng-container class="mx-5" *ngIf="car.HasAirCondition">
          <div>
            <img src="assets/imgs/aircondition.png" alt="Air Condition Logo" />
            <span class="mx-2">Air Condition</span>
          </div>
        </ng-container>
        <ng-container *ngIf="car.IsAutomatic">
          <div class="mx-5">
            <img src="assets/imgs/manual.png" alt="Manual Logo" />
            <span class="mx-2">Manual</span>
          </div>
        </ng-container>
      </div>
      <!-- Date & Button -->
      <form [formGroup]="rentForm">
        <div class="row mt-3">
          <!-- Start Date -->
          <div class="col-12 col-lg-6">
            <div class="d-flex align-items-center alo justify-content-center">
              <i class="fa-solid fa-calendar-days m-2 text-red"></i>
              <mat-form-field class="example-full-width w-100">
                <mat-label>Pick-up date</mat-label>
                <input
                  matInput
                  formControlName="startDate"
                  [matDatepicker]="pickupDatepicker"
                  (dateChange)="getStartDate($event)"
                  (dateChange)="endDateValidator()"
                />
                <mat-datepicker-toggle matIconSuffix [for]="pickupDatepicker">
                  <mat-icon matDatepickerToggleIcon
                    ><img src="../../../assets/imgs/arrow.png" alt=""
                  /></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker
                  #pickupDatepicker
                  color="accent"
                ></mat-datepicker>
                <mat-error *ngIf="rentForm.get('startDate')?.errors">{{
                  (rentForm.get("startDate")?.errors)!["invalidDate"]
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- End Date -->
          <div class="col-12 col-lg-6">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-calendar-days m-2 text-red"></i>
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Return date</mat-label>
                  <input
                    matInput
                    formControlName="endDate"
                    (dateChange)="getEndDate($event)"
                    [matDatepicker]="returnDatepicker"
                  />
                  <mat-datepicker-toggle matIconSuffix [for]="returnDatepicker">
                    <mat-icon matDatepickerToggleIcon
                      ><img src="../../../assets/imgs/arrow.png" alt=""
                    /></mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker
                    #returnDatepicker
                    color="accent"
                  ></mat-datepicker>
                  <mat-error *ngIf="rentForm.get('endDate')?.errors">{{
                    (rentForm.get("endDate")?.errors)!["invalidDate"]
                  }}</mat-error>
                </mat-form-field>
              </div>

              <label
                class="text-red"
                style="font-size: 10px"
                *ngIf="error.isError"
                >{{ error.errorMessage }}</label
              >
            </div>
          </div>
        </div>
        <!-- Reserve Button -->
        <div class="row">
          <div class="col-12">
            <button class="btn btn-red w-100 py-3" (click)="onReserve()">
              Reserve Now
            </button>
          </div>
        </div>

        <div>Total: {{ total }} EGP</div>
      </form>
    </div>
  </div>
  <!-- Reviews -->
  <div
    class="d-flex flex-column align-items-center justify-content-center gapp"
  >
    <h2 class="mb-5 fw-bold">Reviews</h2>
    <div class="d-flex flex-row">
      <!--  -->
      <div *ngFor="let rev of car.Reviews" class="mx-4">
        <app-review-card [review]="rev" class="mx-4"></app-review-card>
      </div>
    </div>
  </div>

  <app-cards-slider></app-cards-slider>

  <!-- Similar Cars -->
  <section class="container mt-5 gapp">
    <div class="d-flex align-items-center mb-5 justify-content-center">
      <h2 class="text-dark fw-bold">Similar Cars</h2>
    </div>
    <div class="row g-5">
      <!-- the car review -->
      <div class="col-12 col-md-6 col-lg-4"><app-card></app-card></div>
      <div class="col-12 col-md-6 col-lg-4"><app-card></app-card></div>
      <div class="col-12 col-md-6 col-lg-4"><app-card></app-card></div>
    </div>
  </section>
</div>
