<section class="mt-3 container d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-secondary fw-bold">Trusted by more than 50+ brands</h2>
    <div class="row">
      <div class="col mt-5 justify-content-center align-items-center align-content-center">
        <img class="mx-5" src="assets/imgs/Nissan_2020_logo.png" alt="">
        <img class="mx-5" src="assets/imgs/BMW.png" alt="">
        <img class="mx-5" src="assets/imgs/lamborghini 1.png" alt="">
        <img class="mx-5" src="assets/imgs/Ford_logo_flat.png" alt="">
        <img class="mx-5" src="assets/imgs/Chevrolet 1.png" alt="">
      </div>
    </div>
  </section>
   <section class="mt-5">
      <div class="row ">
        <div class="col-md-6">
          <img
            class="img-fluid d-none d-md-block"
            src="assets/imgs/car-2.png"
            alt=""
          />
        </div>

        <div class="col-md-6 container">
          <h2 class="fw-bold">Rent a car now <span class="red">in your hand.</span> Try it now!</h2>
          <div class="row my-3 mb-3 mt-5">
            <div class="col-lg d-flex align-items-center ">
              <div class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red-color">
                <img class="p-3" src="assets/imgs/Vector.svg" alt="">  
            </div>
            
              <div class="col-lg-10">
                <h4 class="fw-bold">A lot of price range</h4>
                <p>Don’t need to worry choosing car that match your budget, we serve cars with a lot of price variant</p>
              </div>
            </div>
          </div>
          <div class="row my-3 mb-3 mt-5">
            <div class="col-lg d-flex align-items-center ">
              <div class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red-color">
                <i class="fa-solid fa-car m-2 p-3"></i>

            </div>
            
              <div class="col-lg-10">
                <h4 class="fw-bold">A lot of price range</h4>
                <p>Don’t need to worry choosing car that match your budget, we serve cars with a lot of price variant</p>
              </div>
            </div>
          </div>
          <div class="row my-3 mb-3 mt-5">
            <div class="col-lg d-flex align-items-center ">
              <div class="icon-container shadow rounded-circle d-flex align-items-center justify-content-center me-3 bg-red-color">
                <img class="p-3" src="assets/imgs/Vector.svg" alt="">  
            </div>
            
              <div class="col-lg-10">
                <h4 class="fw-bold">A lot of price range</h4>
                <p>Don’t need to worry choosing car that match your budget, we serve cars with a lot of price variant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>