<div class="mb-5">
  <div class="head">
    <h4>Car Mangment</h4>
    <div>
      <button class="Addbutton" (click)="addCar()">
        <img src="assets/imgs/Group.png" alt="ADD Image" />
        Add Car
      </button>
    </div>
  </div>

  <div class="dis d-flex flex-column align-items-end justify-content-center">
    <input
      type="text"
      [(ngModel)]="searchCategory"
      placeholder="Search by name..."
    />

    <table>
      <tr>
        <th>#</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Model Year</th>
        <th>Color</th>
        <th></th>
      </tr>
      <tr *ngFor="let car of displayedCars">
        <td>{{ car.Id }}</td>
        <td>{{ car.Brand }}</td>
        <td>{{ car.Name }}</td>
        <td>{{ car.ModelYear }}</td>
        <td>{{ car.Color }}</td>
        <td>
          <a [routerLink]="['/admin', 'editcar', car.Id]">
            <img src="assets/imgs/edit.png" alt="edit Image"
          /></a>

          <img
            src="assets/imgs/delete.png"
            alt="delete Image"
            (click)="showDeleteConfirmation(car)"
          />
        </td>
      </tr>
    </table>

    <div class="pagination" *ngIf="totalPages > 1">
      <button
        *ngIf="currentPage > 1"
        (click)="changePage(currentPage - 1)"
        class="pagebutton"
      >
        <img src="assets/imgs/Vector.png" alt="previous" />
      </button>
      <div *ngFor="let page of pages" class="page-number">
        <button
          [class.active]="page === currentPage"
          (click)="changePage(page)"
          class="pagebutton"
        >
          {{ page }}
        </button>
      </div>
      <button
        *ngIf="currentPage < totalPages"
        (click)="changePage(currentPage + 1)"
        class="pagebutton"
      >
        <img src="assets/imgs/chevron-right.png" alt="Next" />
      </button>
    </div>
  </div>
</div>
<app-delete-confirmation-component
  *ngIf="showConfirmation"
  (deleteCar)="deleteCar(carToDelete!)"
  (cancelDelete)="cancelDelete()"
>
</app-delete-confirmation-component>
