<nav class="navbar navbar-expand-lg">
  <div class="container-fluid py-80">
    <a class="navbar-brand" href="#"
      ><img src="./assets/imgs/logo.png" alt=""
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pad">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item ps-3">
          <a class="nav-link" href="#">Our Cars</a>
        </li>

        <li class="nav-item ps-3">
          <a class="nav-link" href="#">How it work ?</a>
        </li>

        <li class="nav-item ps-3">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>

      <button type="button" class="btn bg-red-color text-white py-2 px-5">
        LOG IN
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
