
<h5 class="nameofcar">{{ car.name }}</h5>
<div class="details">
    <div class="car-details">
      <img [src]="car.images" alt="Car Image">
      <div class="details-text">
        <h2>{{ car.name }}</h2>
        <p><span style="color: #751f1f; " >{{ car.pricePerDay }} </span> <span style="font-size: 12px;"> EGP</span>/ Day</p>

          
        <p><strong>Description </strong></p>
        <p class="data">{{ car.description }}</p>
        <p><strong>Category </strong></p>
        <p class="data">{{ car.category }}</p>
        <div class="otherdetails">
        <div>
            <img src="assets/imgs/colorlogo.png" alt="color logo">
            <span>{{car.color}}</span>
          </div>
          <div>
            <img src="assets/imgs/seatlogo.png" alt="seat logo">
            <span>{{car.seatCount}} seats </span>
          </div>
        <ng-container *ngIf="car.hasAirCondition">
          <div>
            <img src="assets/imgs/aircondition.png" alt="Air Condition Logo">
            <span>Air Condition</span>
          </div>
        </ng-container>
        <ng-container *ngIf="car.isAutomatic">
          <div>
            <img src="assets/imgs/manual.png" alt="Manual Logo">
            <span>Manual</span>
          </div>
        </ng-container>
    </div>
      </div>
    </div>
</div>

<form (ngSubmit)="onSubmit()">
    
  
    <label>Brand </label>
    <input type="text" [(ngModel)]="car.brand" name="brand" required id="brand"> <br>
    <label>Name </label>
    <input type="text" [(ngModel)]="car.name" name="name" required id ="name"> <br>
    <label>Model Year </label>
    <input type="text" [(ngModel)]="car.modelYear" name="modelYear" required id="modelYear"><br>
    <label>Color </label>
    <input type="text" [(ngModel)]="car.color" name="color" required id="color"><br>
    <label>Category </label>
    <select [(ngModel)]="car.category" name="category" required>
      <option value="">Select Category</option>
      <option value="Economy">Economy</option>
      <option value="Compact">Compact</option>
      <option value="Standard">Standard</option>
      <option value="Midsize">Midsize</option>
      <option value="Fullsize">Fullsize</option>
      <option value="premime">premime</option>
      <option value="SUV">SUV</option>
      <option value="Van">Van</option>
      <option value="Truck">Truck</option>
      
    </select><br>
    <label>Discription </label>
    <textarea [(ngModel)]="car.description" name="description" required> </textarea><br>
    <label>seat Number </label>
    <input type="number" [(ngModel)]="car.seatCount" name="seatCount" required id="seatCount"><br>
   
    <label>price </label>
    <input type="number" [(ngModel)]="car.pricePerDay" name="pricePerDay" required id="pricePerDay"><br>
   
    <label >Air Condition:</label>
    <select id="hasAirCondition" name="hasAirCondition" [(ngModel)]="car.hasAirCondition" required>
      <option [ngValue]="true">Yes </option>
  <option [ngValue]="false">No </option>
       </select><br>
       <label >Is Automatic:</label>
       <select id="isAutomatic" name="isAutomatic" [(ngModel)]="car.isAutomatic" required>
        <option [ngValue]="true">Yes</option>
         <option [ngValue]="false">No</option>
         </select><br>
    <label>Image URL </label>
    <input type="text" [(ngModel)]="car.images" name="image" required id="image"><br>
    <div class="butt">
    <button class="editbutton"type="submit">Save</button>
    <button type="button" (click)="onDelete()" class="deletebutton">
        <img src="assets/imgs/trush.png" alt="delete Image">
        Delete</button>
</div>


  </form>
  <div class="modal" *ngIf="showDeleteConfirmation">
    <div class="modal-content">
        <div class="headpop">
            <h5 style="margin-top: 5px;">Delete Car</h5>
            <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <hr>
        <p style="color: gray;">Are you sure you want to delete this car?</p>
        <hr>
        <div class="buttons">
            <button class="cancel" (click)="closeModal()">Close</button>
            <button class="delete" (click)="onDeleteConfirmed()">Delete</button>
        </div>
    </div>
</div>

  