<app-header
  img="assets/imgs/browse-cars.png"
  beforeSpan="Browse"
  contentSpan="Our"
  afterSpan="Cars"
  contentBody="From compact cars to spacious SUVs, we offer a diverse fleet of well-maintained vehicles to suit every travel need and budget."
></app-header>

<div class="row body px-4">
  <!-- Filter side-bar -->
  <div class="col-lg-2 filter pe-lg-5">
    <form action="">
      <div class="">
        <button
          class="btn-filter d-lg-none w-100 mb-3 d-flex align-items-center justify-content-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFilter"
          aria-expanded="false"
          aria-controls="collapseFilter"
        >
          <h6 class="fs-5 me-3">Filter</h6>
          <i class="fa-solid fa-filter"></i>
        </button>

        <div class="" class="collapse show" id="collapseFilter">
          <h6 class="d-none d-lg-block fw-bold fs-5">Filters</h6>
          <hr />

          <!-- Brand -->
          <div class="mt-2">
            <button
              class="btn-filter-border-none w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold">Brand</h5>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </button>

            <div class="collapse show" id="collapseExample">
              <div class="py-3">
                <form class="brand">
                  <div
                    class="form-inline d-flex align-items-center py-1"
                    *ngFor="let brand of brands"
                  >
                    <input
                      type="checkbox"
                      name="selectedBrands"
                      [(ngModel)]="selectedBrands[brand]"
                      (change)="filter()"
                    />
                    <label class="ps-3">{{ brand }}</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- price -->
          <div class="mt-4">
            <button
              class="btn-filter-border-none w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsePrice"
              aria-expanded="false"
              aria-controls="collapsePrice"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold">Price</h5>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </button>

            <div class="collapse show" id="collapsePrice">
              <div class="py-3">
                <form class="brand">
                  <div class="py-1">
                    <input
                      class="form-input w-100"
                      type="number"
                      placeholder="From"
                      name="priceFrom"
                      [(ngModel)]="priceFrom"
                      (input)="filter()"
                    />
                  </div>
                  <div class="py-1">
                    <input
                      class="form-input w-100"
                      type="number"
                      placeholder="To"
                      name="priceTo"
                      [(ngModel)]="priceTo"
                      (input)="filter()"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Category -->
          <div class="mt-4">
            <button
              class="btn-filter-border-none w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseStyle"
              aria-expanded="false"
              aria-controls="collapseStyle"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold">Category</h5>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </button>

            <div class="collapse show" id="collapseStyle">
              <div class="py-3">
                <form class="brand">
                  <div
                    class="form-inline d-flex align-items-center py-1"
                    *ngFor="let category of categories"
                  >
                    <input
                      type="checkbox"
                      name="selectedCategories"
                      [(ngModel)]="selectedCategories[category]"
                      (change)="filter()"
                    />
                    <label class="ps-3">{{ category }}</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Colors -->
          <div class="mt-4">
            <button
              class="btn-filter-border-none w-100"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseColor"
              aria-expanded="false"
              aria-controls="collapseColor"
            >
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold">Colors</h5>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </button>

            <div class="collapse show" id="collapseColor">
              <div class="py-3">
                <form class="brand">
                  <div
                    class="form-inline d-flex align-items-center py-1"
                    *ngFor="let color of colors"
                  >
                    <input
                      type="checkbox"
                      name="selectedColors"
                      [(ngModel)]="selectedColors[color]"
                      (change)="filter()"
                    />
                    <label class="ps-3">{{ color }}</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Cars Section -->
  <div class="col-lg-10">
    <div class="row justify-content-between">
      <!-- Search bar -->
      <div class="col-12 col-lg-8">
        <input
          class="w-100 form-input"
          type="text"
          placeholder="Search By Name or Brand"
          [(ngModel)]="carName"
          [(ngModel)]="carModel"
          (input)="onSearch()"
        />
      </div>

      <!-- Sort Label -->
      <div
        class="col-12 col-lg-1 mt-3 mt-lg-0 d-lg-flex align-items-center justify-content-center"
      >
        <label class="form-label text-dark mb-0" for="">Sort By</label>
      </div>

      <!-- Sort -->
      <div class="col-12 col-lg-3 mt-2 mt-lg-0">
        <select
          class="w-100 form-input"
          (change)="onSort()"
          [(ngModel)]="sortOrder"
        >
          <option value="default">Default</option>
          <option class="dropdown-item" value="low">Price : Low to High</option>
          <option class="dropdown-item" value="high">
            Price : High to Low
          </option>
          <option class="dropdown-item" value="rate">Rating</option>
        </select>
      </div>
    </div>

    <!-- Cars -->
    <div class="row gy-5 gx-5 mt-4 mb-5" *ngIf="!isCarsAvaliable">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="../../../../../assets/imgs/no-data.png"
          alt=""
          class="img-fluid w-75"
        />
      </div>
    </div>

    <div class="row gy-5 gx-5 mt-4 mb-5" *ngIf="isCarsAvaliable">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let car of filteredCars">
        <app-card [car]="car"></app-card>
      </div>
    </div>
  </div>
</div>
